body {
    background-color: #202020;
}

h1 {
    color: pink;
    display: grid;
    place-content: center;
    max-width: 100dvmin;
}

span {
    color: white;
    font-size: 6dvmin;
    padding: 1dvmin;
}

button {
    width: 14dvmin;
    height: 14dvmin;
    font-size: 6dvmin;
    background-color: gray;
    border-radius: 20%;
}


.counter {
    position: absolute;
    top: 86dvmin;
    right: 2dvmin;
}

.dot {
    position: absolute;
    width: 0.6dvmin;
    height: 0.6dvmin;
    border-radius: 50%;
    background-color: pink;
}


footer {
    position: absolute;
    bottom: 4dvmin;
    margin: 1dvmin;
    text-align: left;
}

a,
a:visited {
    color: #0071d1;
    /*カラーコードは任意*/
}