* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #36393F;
    color: white;
}

h1 {
    color: coral;
    display: grid;
    place-content: center;
    max-width: 100dvmin;
    margin-top: 10dvmin;
    margin-bottom: 20dvmin;
    font-size: 6dvmin;
    border: 1px solid;
    padding: 4dvmin;
    background-color: midnightblue;
}

i {
    display: grid;
    place-content: center;
}

.counter {
    position: absolute;
    top: 46dvmin;
    left: 85dvmin;
    font-size: 6dvmin;
    text-align: center;
}

.dot {
    position: absolute;
    width: 0.1dvmin;
    height: 0.1dvmin;
    border-radius: 50%;
    background-color: mediumpurple;
}